<label> First Name <input type="TEXT" name="FirstName" class="entry" value="{{profile.firstname}}">  </label>
<label> Last Name <input type="TEXT" name="LastName" class="entry" value="{{profile.lastname}}"> </label>
<label> Email Address <input type="TEXT" name="EmailAddress" class="entry" value="{{profile.email}}">  </label>
<label> Password <input type="password" name="Password" class="entry">  </label>
