<label> Age <input type="number" name="age" class="entry" autocomplete="nope" value="{{profile.age}}">  </label>
<label> City <input type="text" id="cityinput" name="city" class="entry" autocomplete="nope" value="{{profile.city}}"/> </label>
<label> Homepage <input type="url" name="homepage" class="entry" autocomplete="nope" value="{{profile.url}}"> </label>
