<label> Age <input type="number" name="age" class="entry" value="{{profile.age}}">  </label>
<label> City <input type="text" name="city" class="entry" value="{{profile.city}}" id=cityinput> </label>
<label> Homepage <input type="url" name="homepage" class="entry" value="{{profile.url}}"> </label>
