<div class="footer">
    <br>
    <br>
    <h4><a href="/logout">Log out</a></h4>
    <br>

    {{#if manageLink}}
        <h4><a href="/userprofile/manage">Manage profile</a></h4>
    {{/if}}

    <p class="footer"> Copyright Brian Mullin 2018 </p>
<div>
