<div class="footer">
    <br>
    <br>
    <a href="/logout">Log out</a>
    <br>

    {{#if manageLink}}
        <a href="/userprofile/manage">Manage profile</a>
    {{/if}}

    <p class="footer"> Copyright Brian Mullin 2018 </p>
<div>
