{{#each projects}}
    <div>
        <a href="{{this.descLink}}" class="text"><span class="project-titles">{{this.name}}</span></a>
    </div>
    <div class="image">
        <a href="{{this.descLink}}"><img src="{{this.screenshot}}"></a>
    </div>
{{/each}}
