<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/stylesheet.css">
        <title>
            IMPROVE THE DISCOURSE
        </title>
    </head>
    <body>
        <h1> PETITION TO IMPROVE THE DISCOURSE</h1>
     {{{body}}}
    </body>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBtOUf0TBLaRLXIBDb_Rlf4_tauq-9_KF0&libraries=places"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="/script.js" charset="utf-8"></script>
</html>
