<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="stylesheet.css">
        <title>
            IMPROVE THE DISCOURSE
        </title>
    </head>
    <body>
     {{{body}}}
    </body>
</html>
