<div class="petitionpage">
    <br>
    <h2> WELCOME. </span> </h2>
    <br>
    <br>
    {{#if errorMessage}}
       <h2>{{errorMessage}}</h2>
     {{/if}}
     {{> facebook}}
        <div class="buttons">
            <a href="/arrival/register">Register</a>
            <a href="/arrival/login">Log In</a>
        </div>
    <br>
</div>
