<h1> Nice job {{firstName}} {{lastName}}. You are logged in with your Facebook account, meaning you do not need to come up with a password for this site, yet your account on this site is secure. </h1>

<h2> We have set your first name, last name, and email to the information provided by you and your Facebook account. </h2>

<h2> If you would like to provide additional info, or change anything you've already provided, you may do so <a href="/userprofile/manage">here</a>. Be advised that even if you change your name or email, your Facebook will remain your login credential and your Facebook account will continue to be associated with your presence here. For instance, your picture will appear on the signatures list, should you choose to sign the petition.</h2>

<h3>You may log out at any time, and you can use your Facebook account log in effortlessly the next time you return!</h3>

<h1>Thank you so much for participating in this stellar cause which may truly change the world for the better. The petition is <a href="/signatures/sign">here</a> for you to sign.</h1>
