<br>

<h2> You may <span style="font-style: italic"> log in here. </span> </h2>

<br>
<br>

{{#if errorMessage}}
    <h2>{{errorMessage}}</h2>
{{/if}}
<form method="POST" class ="form">
    {{> csrf}}
    <div class="registration-fields">
        <label> Email Address <input type="email" name="EmailAddress" id="emailaddress" class="entry" value="{{emailAddress}}">  </label>
        <label> Password <input type="password" name="Password" class="entry" id="password">  </label>
    </div>
    <div class="buttons">
        <button type="submit">Login NOW</button>
    </div>
</form>
<br>
<a href="/arrival/register"> back to register </a>
