<br>

<h2> You are now logged out. You will be redirected in a few seconds. </h2>

<script>
    setTimeout(function() {
    window.location.replace("/")
}, 4000);
</script>

<a href="/arrival/register"> Reload yourself. </a>
