<br>

{{errorMessage}}
{{message}}
<h1> Welcome, {{profile.firstname}} {{profile.lastname}}. You are logged in.
<h2> If you would like to update any of your info, you may do so below. </h2>
<br>
<br>
<form method="POST" class ="form">
    {{> csrf}}
    <div class="registration-fields2">
        {{> basicinfo }}
        {{> extrainfo }}
    </div>
    <div class="buttons">
        <button type="submit">Update</button>
    </div>
</form>
    <br>
    <br>
    {{#if hasSigned}}
        <h3>You have already signed the petition. You may view and manage your signature <a href="/signatures/thanks/">here</a> or see the <a href="/signatures/list">list of other signees.</a></h3>
    {{/if}}
    {{#unless hasSigned}}
    <h3>
        You have not yet signed the petition. View it <a href="/signatures/sign">here</a>.</h3>
    {{/unless}}
<br>
<a href="/userprofile/password"> Change password</a>
{{> footer}}
