
{{errorMessage}}
{{#unless errorMessage}}
    <h1> Welcome, {{profile.firstname}} {{profile.lastname}}. You are logged in.
    <h2> You can update your password here. </h2>
{{/unless}}

<form method="POST" class ="form">
    {{> csrf}}
    <div class="registration-fields">
        <label> Old password <input type="password" name="oldpassword" class="entry">  </label>
        <label> New password <input type="password" name="newpasswordone" class="entry">  </label>
        <label> New password again <input type="password" name="newpasswordtwo" class="entry">  </label>
    </div>
    <div class="buttons">
        <button type="submit">Submit</button>
    </div>
</form>
{{>footer}}
