
 <div>

    <br>

    <h2> We the undersigned do believe and assert:</h2>

    <ul>
        <li> The jargon and the feels have harmed the content of the discourse. </li>
        <li> The freedom and the series of tubes have bloated the size of the discourse. </li>
        <li> The elite devolution and concurrent rise of plebes has corrupted the morality of the discourse. </li>
    </ul>
    <br>
    <p style="font-style: italic"> We the undersigned herewith petition and demand that the discourse be improved; improved and improved mightily, without further delay; should we fail in sufficiently undersigning, or otherwise shall the petitioned neglect the necessary discourse improvements, shall this world fall into disrepair. Verily, we thus also demand return to hereditary monarchy, that guard against such shameful neglect as this.
    </p>
    <br>
    <br>
    <h1> WELCOME {{firstName}} {{lastName}}. WILL YOU SIGN? </h1>
    {{#if errorMessage}}
       <h2>{{errorMessage}}</h2>
     {{/if}}
    <form method="POST">
        {{> csrf}}
        <input type="hidden" name ="sig" id="siginput">
        <canvas id="canvas" height="100px" width ="600px"></canvas>
        <div> SIGN Your Signature Here FOR GREAT JUSTICE </div>
        <div class="buttons">
            <button type="button" id="reset2">CLEAR SIGNATURE</button>
            <button type="submit">SUBMIT</button>
        </div>
    </form>
    <br>
    <br>
    {{> footer}}
</div>
