<div class="petitionpage">
    <br>
    <h2> Have you <span style="font-style: italic"> REGISTERED? </span> </h2>
    <br>
    <br>
    {{#if errorMessage}}
       <h2>{{errorMessage}}</h2>
     {{/if}}
    <form method="POST" class ="form">
        {{> csrf}}
        <div class="registration-fields">
            {{> basicinfo}}
            <label> Password <input type="password" name="Password" class="entry">  </label>
        </div>
        <div class="buttons">
            <button type="submit">Create Account</button>
        </div>
    </form>
    <br>
    <h3> Already have an account? <a style="font-style: italic" href="/register/login"> log in here</a>.</h3>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="script.js" charset="utf-8"></script>
</div>
