    <h3>THANKS FOR SIGNING THIS PETITION, WOULD YOU LIKE TO <a href="/signatures/list">SEE WHO SIGNED</a>??  UP TO NOW, THERE HAVE BEEN <a href="/signatures/list">{{numberOfSigs}} SIGNATURES</a>.</h3>
    <div>
        <canvas id="canvasDisplay" height="100px" width ="600px"></canvas>
    </div>
    <img id="image" src='{{actualSignature}}'>

    <h3> <a href="signatures/delete"> Delete your signature. </a> </h3>
    {{> footer}}
