<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="stylesheet.css">
        <title>
            IMPROVE THE DISCOURSE
        </title>
    </head>
    <body>
THANKS FOR SIGNING THIS PETITION, WOULD YOU LIKE TO <a href="/signatures"> SEE WHO SIGNED</a>??  UP TO NOW, THERE HAVE BEEN <a href="/signatures">{{numberOfSigs}} SIGNATURES</a>
        <div><canvas id="canvasDisplay" height="100px" width ="600px"></canvas></div>
        <img id="image" src='{{actualSignature}}'>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="script.js" charset="utf-8"></script>
    </body>
</html>
