    <h3>THANKS FOR SIGNING THIS PETITION, WOULD YOU LIKE TO <a href="/signatures">SEE WHO SIGNED</a>??  UP TO NOW, THERE HAVE BEEN <a href="/signatures">{{numberOfSigs}} SIGNATURES</a>.</h3>
    <div>
        <canvas id="canvasDisplay" height="100px" width ="600px"></canvas>
    </div>
    <img id="image" src='{{actualSignature}}'>

    <h3> <a href="/thanks/delete"> Delete your signature. </a> </h3>
    <a href="/logout"> logout </a>
    <a href="/userprofile/manage"> Manage profile </a>
